body {
  background-color: #0d1816; 
}

tw-story {
  width: 500px;
}

.passage {
  font-family: 'Crimson Text', serif;
  font-size: 2em;
  color: #d6d6d6;
  line-height: 1.5;
}

h1 {
  font-size: 1.2em;
  font-weight: 200;
}

h2 {
  font-size: 1.1em;
  font-weight: 200;

}
b, strong {
  font-weight: normal;
  font-style: italic;
}

i {
  font-style: italic;
  color: #cff7ff;
}

.passage a {
  color: #87b086;
  font-weight: none;
}

.passage a:hover {
  color: #d9ffe6;
    text-decoration: none;
}

#sidebar {
  color: #d6d6d6;
}

ul {
  list-style: none;
  text-align: justify;
}

img {
  width: 300px;
}

h1#story-title {
  color: #558f53;
  font-family: 'GRASS', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 300%;
  line-height: 80%;
  padding-top: 10%;
}

#story-subtitle {
  color: #558f53;
  font-family: 'Vollkorn SC', serif;
}

.special_subtitle {
 font-family: 'TYPEWRITER', serif; 
 font-size: 100%
}

#story-caption {
  font-family: 'Vollkorn SC', serif;
}

#ui-bar {
  background-color: #131a14;
}

#menu li{
  font-family: 'Vollkorn SC', serif;
  font-weight: 600;
  color: #87b086;
}

#menu li a:hover {
  color: #d9ffe6;
  background-color: #131a14;
}

#menu #menu-story {
  border: 0;
}

#menu-story li:first-child {
  border-top: 1px solid #444;
}

#menu-story li:first-child, #menu-story li:nth-child(4) {
  margin-bottom: 1em;
  border-bottom: 1px solid #444;
}

#menu-story li {
  border-left: 1px solid #444;
  border-right: 1px solid #444;
}

#menu #menu-core {
  margin-top: 0;
}

button {
  background-color: #0d1816;
    border-color: #d6d6d6;
    padding: 2px 10px; 
    text-transform: uppercase;
}

button:hover {
  background-color: #000000;
  color: #d9ffe6;
  border-color: #d9ffe6;
}
 #choice {
  font-size: .8em;
  background-color: #0d1816;
  padding: 5px 32px 1px 32px;
  font-family: 'Vollkorn SC', serif;
}
 #ui-dialog-body {
  background-color: #0d1816;
  font-family: 'Crimson Text', serif;
  font-size: 1.2em;
}
 #ui-dialog-titlebar {
 font-family: 'Vollkorn SC', serif;  
 padding: .2em 3.5em .2em 7em;
}

#story-author {
  color: #558f53;
  font-family: 'Vollkorn SC', serif;
}

.error-view > .error-toggle::before, .error-view > .error::before, [data-icon-after]::after, [data-icon-before]::before, [data-icon]::before, a.link-external::after {
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
        font-variant-caps: normal;
        font-variant-alternates: normal;
        font-variant-east-asian: normal;
        font-variant-ligatures: normal;
        font-variant-numeric: normal;
        font-variant-position: normal;
    text-transform: none;
    line-height: 1;
}